.header{
    background-color: rgb(213, 222, 231);
    text-align: center;
    padding: 10px; 
}
.header a{
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid black;
    color: #141212;;
    margin: 10px;
    font-size: 20px;

}
.content{
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
}
.margin{
    margin-top: 10px;
}
#btn{
    margin: 10px;
    border-radius: 10px;
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: rgb(151, 186, 216);
}
#btn:hover{
    background-color: rgb(213, 222, 231);
}